<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/styles/loginStyles.css">

</head>
<body>
    <div class="login-container">
        <h1>Login</h1>
        <form action="/views/ladingPage.html" method="submit">         
            <div>
                <input type="text" id="email" name="email" placeholder="Correo" required>
                <span class="validation-message" id="email-validation"></span>
            </div>
            <div>
                <input type="password" id="password" name="password" placeholder="Contraseña" required minlength="10">
                <span class="validation-message" id="password-validation"></span>
            </div>
            <div class="forgot-password">
                <a href="/views/recoveryPassword.html">¿Olvidaste tu contraseña?</a>
            </div> 
            <input type="submit" value="Sign in">
            <div class="divider">
                <div class="or-sign-in">
                    <span class="divider-text">O inicia sesión con</span>
                </div>
                <div class="social-icons">
                    <a href="https://es-la.facebook.com/login/"><img src="/images/facebook.png" alt="Facebook" class="social-icon" title="Iniciar sesión con Facebook"></a>
                    <img src="/images/google.png" alt="Google" class="social-icon" title="Iniciar sesión con Google">
                    <img src="/images/twitter.png" alt="Twitter" class="social-icon" title="Iniciar sesión con Twitter">
                </div>
            </div>
        </form>
    </div>
</body>
</html>