<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar Contraseña</title>
    <link rel="stylesheet" href="loginStyles.css">
    <script>

        function mostrarAlerta() {
            alert("Se envió un correo para restablecer tu contraseña");
        }
    </script>
</head>
<body>
    <div class="forgot-password-container">
        <h1>Recuperar Contraseña</h1>
        <form action="/recuperar-contrasena" method="post">           
            <input type="text" id="email" name="email" placeholder="Correo" required>
            <input type="button" value="Recuperar Contraseña" onclick="mostrarAlerta()">
        </form>
    </div>
</body>
</html>
